.DS_Store
.idea
node_modules/

# development
.eslintcache
newrelic_agent.log

# Jest
.jest/

# testing
/coverage

@@ -21,3 +24,6 @@
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#editors
tags

# build
build/
dist/

### Terraform ###
*.tfstate
*.tfplan
.terraform
terraform/errored.tfstate
terraform/errored.tfplan